<form action="/login" method="post">
    <label for="user">Nombre de usuario</label>
    <input type="text" name='user'>
    <label for="password">Contraseña</label>
    <input type="password" name='password'>
    <input type="submit" value="Enviar">
</form>